@keyframes fade-in-landingBody {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-landingBody {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in-landingBody {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fade-in-landingBody {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.landing-body {
  animation: 3s ease-in-out 0s 1 fade-in-landingBody;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 200px;
  flex-wrap: wrap;
}
