.navRefLogin {
  position: absolute;

  height: 85px;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.refloginBtn {
  margin-right: 50px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 300 !important;
}

.reflogoutBtn {
  margin-right: 20px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 300 !important;
}

.refineryLinkBack {
  color: white;
  font-size: 20px;
}

.refSensorNavLogout {
  position: absolute;
  height: 85px;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 300 !important;
}
