.thetimer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px;
}

.times {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 25px;
}
